@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="binary-girl.jpg" height= 400 Width= 1000/>
    <h1 class="display-4">Welcome to Learn DotNet</h1>
    <p>.NET Framework is a software framework developed by Microsoft that runs primarily on Microsoft Windows. It includes a large class library named as Framework Class Library and provides language interoperability across several programming languages.</p>
</div>
