@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<h2>My Code My Child!!!</h2>
<h2>Favorite Quotes : </h2>
<h3>Never memorize something that you can look up</h3>
<h3>Truth can only be found in one place: the code.</h3>
<h3>Love all but trust a few.</h3>